/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End reset */
body {background:#fff; color:#333; font-family:Arial, Helvetica, sans-serif;}
#entry {padding:2em; background:#eee; border-bottom:1px solid #ccc;}
#input {width:90%;}
#input, #save {font-size:1.5em; font-weight:bold; padding:.5em;}
/*#entries {border-top:1px solid #999;}*/
#entries li {border-bottom:1px solid #ccc; background:#fff; padding:.5em 2em; font-size:1.1em;}
#entries li:nth-child(even) {background:#fff;}
#entries li.active {background:#dd4b39; color:#fff;}
#entries .description {display:inline-block; width:70%;}
#entries .time {display:inline-block; width:15%; text-align:center;}
#entries .controls {display:inline-block; width:14%; text-align:center;}
#entries .edit-text {font-size:.75em; padding:.25em; width:90%;}

@media only screen and (max-width: 640px) {
	#input {width:80%;}
	#entries .description {width:83%;}
	#entries .controls {width:100%; display:block; margin-top:.5em;}
}

@media only screen and (max-width: 420px) {
	#input {width:90%;}
	#save {display:block; width:99%; margin-top:.5em;}
}